#=========
# ALIASES
#=========

# Unix
alias -g L='| less'
alias -g LR='--pager="less -R"'  # for use with ack and ag
alias P='ps aux | grep --color'
alias agp='ag --pager="less -R"'
alias ec='/usr/local/Cellar/emacs/24.5/bin/emacsclient -n'
alias em='open -a /Applications/Emacs.app $1'
alias grepc='grep --color=always'
alias j='z'
alias less='less -R -x4'
alias ll='ls -alrth --color'
alias ls='ls -FGa --color'
alias tm='tmux'
alias tree='tree -C'

# Git
alias ga='git add'
alias gb='git branch --sort=committerdate'
alias gc='git commit'
alias gca='git commit --amend'
alias gci='git commit -a'
alias gco='git checkout'
alias gd='git diff'
alias gds='git diff --staged'
alias gh='git log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short'
alias gl='git log'
alias glme='git log --author=jaydev'
alias gm='git merge'
alias gp='git pull'
alias gpr='git pull --rebase'
alias gps='git push'
alias gr='git reset'
alias gs='git status'
alias gst='git stash'

# Python
alias ipy='ipython'
# Alias ipython so it correctly imports python package paths set by a virtualenv
# See http://scipy2010.blogspot.com/2010/06/scipy-2010-basic-tutorials-ipython-and.html
alias ipython='python /usr/local/share/python/ipython'
alias mpy='pipenv run ./manage.py'
alias pe='pipenv'
alias per='pipenv run'
alias py='python'
alias pyg='pygmentize'
alias python='python -W ignore'

# Ruby
alias be='bundle exec'
alias rc='rails console'
alias rs='rails server'

# Database
alias pg='pg_ctl -D $HOME/var/postgres/db -l $HOME/var/postgres/log/postgres.log'
