#=========
# ALIASES
#=========

# Unix
alias ackl='ack --pager="less -r -x4"'
alias ec='/usr/local/Cellar/emacs/24.3/bin/emacsclient -n'
alias em='open -a /Applications/Emacs.app $1'
alias grepc='grep --color=always'
alias -g L='| less'
alias -g LR='--pager="less -R"'  # for use with ack and ag
alias less='less -R -x4'
alias ll='ls -alrth --color'
alias ls='ls -FGa --color'
alias P='ps aux | grep --color'
alias tm='tmux'
alias tree='tree -C'

# Git
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gca='git commit --amend'
alias gci='git commit -a'
alias gco='git checkout'
alias gd='git diff'
alias gds='git diff --staged'
alias gh='git log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short'
alias gl='git log'
alias glme='git log --author=jaydev'
alias gm='git merge'
alias gp='git pull'
alias gpr='git pull --rebase'
alias gps='git push'
alias gr='git reset'
alias gs='git status'
alias gst='git stash'

# Python
alias cq='codequality'
alias ipy='ipython'
# Alias ipython so it correctly imports python package paths set by a virtualenv
# See http://scipy2010.blogspot.com/2010/06/scipy-2010-basic-tutorials-ipython-and.html
alias ipython='python /usr/local/share/python/ipython'
alias llsp='lssitepackages -alrth --color'
alias mpy='./manage.py'
alias py='python'
alias pyg='pygmentize'
alias python='python -W ignore'

# Rails
alias rc='bundle exec rails console'
alias rs='bundle exec rails server'

# Database
alias mgd='mongod run --config /usr/local/Cellar/mongodb/1.8.2-x86_64/mongod.conf --logpath /usr/local/var/mongodb/mongo.log --fork'
alias pg='pg_ctl -D $HOME/var/postgres/db -l $HOME/var/postgres/log/postgres.log'
